### Twiitter API: extract tweets of Trump and Trudeau to compare their activity on Twitter (NLTK/Regex)

**Data extraction with API**

- Firstly, Twitter does not allow to extract more than 200 tweets per one time. This issue can be
solved by adding **“max_id”** option. Each iteration will extract different tweets because max_id is changing in the end of each iteration<br>
- Secondly, by default twitter extracts a truncated version of a tweet. To force twitter to
output the full version of tweet, an option of the call should be set to
**“tweet_mode=extended”**;<br>
To compare different attributes of Trumps’ and Trudeaus’ tweets, python language, some
libraries(pandas, numpy) and regular expressions were used.
- Thirdly, **"include_rts"** is set to "False" to prevent retweets from being saved. Only tweets of autors are analysed

**Import required libraries**

In [30]:
import requests
import pandas as pd
import re
from nltk import FreqDist
import operator
import warnings
warnings.filterwarnings('ignore')

**Extract data with the help of API(Trudeau)** <br>
First loop is needed to initialize max_id, second loop updates it constantly

In [4]:
headers = {
    'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAADmO4QAAAAAA1l35b3JfTyYe8rDAX0q7nhR%2BBis%3D90KK4CMhxUBYfLFslUyJmusiEVnhBRLVmIG4Nnb2b6R2SlVxmU',
}

params = (
    ('screen_name', 'JustinTrudeau'),
    ('include_rts', 'false'),
    ('count', '200'),
    ('tweet_mode', 'extended'),
)

response = requests.get('https://api.twitter.com:443/1.1/statuses/user_timeline.json', headers=headers, params=params)
response_json=response.json()
max_id = response_json[-1]['id']

import requests
#1500 - number of tweets
while len(response_json)<1500:
    headers = {
        'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAADmO4QAAAAAA1l35b3JfTyYe8rDAX0q7nhR%2BBis%3D90KK4CMhxUBYfLFslUyJmusiEVnhBRLVmIG4Nnb2b6R2SlVxmU',
    }
    
    params = (
        ('screen_name', 'JustinTrudeau'),
        ('include_rts', 'false'),
        ('count', '200'),
        ('tweet_mode', 'extended'),
        ('max_id', max_id),
    )
    
    response = requests.get('https://api.twitter.com:443/1.1/statuses/user_timeline.json', headers=headers, params=params)
    response_json_new=response.json()
    response_json  += response_json_new
    max_id = response_json[-1]['id']

**Create a dataframe of the date of a tweet and its' content (text)**

In [5]:
created_at_list_trud = []
for time in range(len(response_json)):
    created_at_list_trud.append(response_json[time]["created_at"])

texts_trud = []
for el in range(len(response_json)):
    texts_trud.append(response_json[el]["full_text"])

df_trud = pd.DataFrame(
    {'Text': texts_trud,
     'created_at': created_at_list_trud
    })

**Required to see more text of tweet in Jupyter**

In [6]:
pd.options.display.max_colwidth = 140
pd.options.display.max_colwidth

140

In [7]:
df_trud.head()

,Text,created_at
0,"Innovators, researchers, and entrepreneurs move Canada forward - creating good jobs and growing our economy. Here’s how we’re making sur...",Fri Jul 27 16:10:24 +0000 2018
1,"Les innovateurs, les chercheurs et les entrepreneurs font avancer le Canada : ils créent de bons emplois et font croître notre économie....",Fri Jul 27 16:09:50 +0000 2018
2,"Today, we honour the brave Canadians who fought for freedom and democracy during the Korean War: https://t.co/4cVOhJ4PFz",Fri Jul 27 12:07:57 +0000 2018
3,"Aujourd’hui, nous rendons hommage aux braves Canadiens qui se sont battus au nom de la liberté et de la démocratie pendant la guerre de ...",Fri Jul 27 12:07:45 +0000 2018
4,Hardworking Canadians shouldn’t have to worry about having enough money to retire. That’s why we’ve improved and strengthened the Canada...,Thu Jul 26 23:01:13 +0000 2018

**Extract data with the help of API(Trump)**

In [8]:
headers = {
    'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAADmO4QAAAAAA1l35b3JfTyYe8rDAX0q7nhR%2BBis%3D90KK4CMhxUBYfLFslUyJmusiEVnhBRLVmIG4Nnb2b6R2SlVxmU',
}

params = (
    ('screen_name', 'realDonaldTrump'),
    ('include_rts', 'false'),
    ('count', '200'),
    ('tweet_mode', 'extended'),
)

response = requests.get('https://api.twitter.com:443/1.1/statuses/user_timeline.json', headers=headers, params=params)
response_json_trump=response.json()
#max id to insert into next loop
max_id = response_json_trump[-1]['id']

import requests
#include_rts is set to False, but count includes retweets. so the easiest way to get some number of tweets - while loop
while len(response_json_trump)<1500:
    headers = {
        'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAADmO4QAAAAAA1l35b3JfTyYe8rDAX0q7nhR%2BBis%3D90KK4CMhxUBYfLFslUyJmusiEVnhBRLVmIG4Nnb2b6R2SlVxmU',
    }
    
    params = (
        ('screen_name', 'realDonaldTrump'),
        ('include_rts', 'false'),
        ('count', '200'),
        ('tweet_mode', 'extended'),
        ('max_id', max_id),
    )
    
    response = requests.get('https://api.twitter.com:443/1.1/statuses/user_timeline.json', headers=headers, params=params)
    response_json_new=response.json()
    response_json_trump  += response_json_new
    max_id = response_json_trump[-1]['id']

**Create a dataframe of the date of a tweet and its' content (text)**

In [9]:
created_at_list_trump = []
for time in range(len(response_json_trump)):
    created_at_list_trump.append(response_json_trump[time]["created_at"])

texts_trump = []
for el in range(len(response_json_trump)):
    texts_trump.append(response_json_trump[el]["full_text"])
    

df_trump = pd.DataFrame(
    {'Text': texts_trump,
     'created_at': created_at_list_trump
    })

In [10]:
df_trump.head()

,Text,created_at
0,"We must have Border Security, get rid of Chain, Lottery, Catch &amp; Release Sanctuary Cities - go to Merit based Immigration. Protect I...",Mon Jul 30 11:57:34 +0000 2018
1,"....Also, why is Mueller only appointing Angry Dems, some of whom have worked for Crooked Hillary, others, including himself, have worke...",Sun Jul 29 20:20:39 +0000 2018
2,"Is Robert Mueller ever going to release his conflicts of interest with respect to President Trump, including the fact that we had a very...",Sun Jul 29 20:12:15 +0000 2018
3,"There is No Collusion! The Robert Mueller Rigged Witch Hunt, headed now by 17 (increased from 13, including an Obama White House lawyer)...",Sun Jul 29 19:35:14 +0000 2018
4,...and the Amazon Washington Post do nothing but write bad stories even on very positive achievements - and they will never change!,Sun Jul 29 19:09:19 +0000 2018

**Limit number of tweets to 1500**

In [11]:
df_trud = df_trud[:1500]
df_trump = df_trump[:1500]

### Questions to answer
- 
-

**What is the average number of times they tweet per day?**

In order to answers this question, datasets should be grouped on a daily basis to count number of
tweets per day. It was done by extracting part of a date, converting this part to datetime
and counting number of tweets per day on average.

In [12]:
#extract date from text
for i, row in df_trump.iterrows():
    value = df_trump['created_at'][i][4:10] +", "+ df_trump['created_at'][i][-4:]
    df_trump.set_value(i,'date', value)
    
#convert to datetime
df_trump['date_conv'] = pd.to_datetime(df_trump['date'])

#group on a daily basis, count tweets
df_trump_1 = df_trump.resample('D', on='date_conv').count()

#Trudeau
#extract date from text
for i, row in df_trud.iterrows():
    value = df_trud['created_at'][i][4:10] +", "+ df_trud['created_at'][i][-4:]
    df_trud.set_value(i,'date', value)
    
#convert to datetime
df_trud['date_conv'] = pd.to_datetime(df_trud['date'])

#group on a daily basis, count tweets
df_trud_1 = df_trud.resample('D', on='date_conv').count()

In [13]:
print("Average number of tweets per day of Trump: ", "%.2f" % df_trump_1["Text"].mean())

Average number of tweets per day of Trump:  7.21

In [14]:
print("Average number of tweets per day of Trudeau: ", "%.2f" % df_trud_1["Text"].mean())

Average number of tweets per day of Trudeau:  6.82

Consequently, on average, Trump posts more tweets by 1 per day. (Even though Trudeau posts same tweets in English and in French)

**What day of the week do they tweet most frequently?**

To answer this question the same method will be used, the only difference that now the day of the
week will be extracted and grouped by the variable that represents this day of the week

In [15]:
#extract day of week from text
for i, row in df_trump.iterrows():
    df_trump.set_value(i,'dayofweek', df_trump['created_at'][i][:3])
    
#group by day of a week to find the most popular day to tweet
df_trump_2 = df_trump.groupby('dayofweek').count()

#Trud
#extract day of week from text
for i, row in df_trud.iterrows():
    df_trud.set_value(i,'dayofweek', df_trud['created_at'][i][:3])
    
#group by day of a week to find the most popular day to tweet
df_trud_2 = df_trud.groupby('dayofweek').count()

**Trudeau**

In [16]:
df_trud_2.sort_values(by=['date_conv'], ascending=False)['Text']

dayofweek
Wed    292
Thu    279
Fri    248
Tue    244
Mon    162
Sun    138
Sat    137
Name: Text, dtype: int64

**Trump**

In [17]:
df_trump_2.sort_values(by=['date_conv'], ascending=False)['Text']

dayofweek
Wed    269
Thu    247
Tue    220
Fri    218
Sat    197
Mon    192
Sun    157
Name: Text, dtype: int64

For both Trump and Trudeau, Wednesday and Thursday are the most popular days to tweet.

**Ratio of the word "fake" vs "real"?**

Regex was used to find out how many times a word “fake” and a word “real” appeared in tweets.
The regex “findall” code was looped across every tweet to count instances of these words

**Trump**

In [18]:
count_real = 0
count_fake = 0

#count number of occurences for both words
for element in range(0, df_trump['Text'].count()):
    text = df_trump['Text'][element]
    extr_real = re.findall(r'(real)', text)
    extr_fake = re.findall(r'(fake)', text)
    for el in extr_real:
        count_real +=1
    for el in extr_fake:
        count_fake +=1
        
print("Trump: Counts of 'real'", count_real,
      "\nCounts of 'fake'", count_fake,
      "\nProportion of fake to real", 
      count_fake/count_real)

Trump: Counts of 'real' 67
Counts of 'fake' 1
Proportion of fake to real 0.014925373134328358

**Trudeau**

In [19]:
count_real = 0
count_fake = 0

#count number of occurences for both words
for element in range(0, df_trud['Text'].count()):
    text = df_trud['Text'][element]
    extr_real = re.findall(r'(real)', text)
    extr_fake = re.findall(r'(fake)', text)
    for el in extr_real:
        count_real +=1
    for el in extr_fake:
        count_fake +=1
        
print("Trudeau: Counts of 'real'", count_real,
      "\nCounts of 'fake'", count_fake,
      "\nProportion of fake to real", 
      count_fake/count_real)

Trudeau: Counts of 'real' 20
Counts of 'fake' 0
Proportion of fake to real 0.0

In summary, the proportion of using these words for Trump in 1 to 68, while Trudeau did not use a
word ‘fake’ in last 1500 tweets at all.

**Ratio of the word "good" vs "bad"?**

In [20]:
count_good = 0
count_bad = 0

for element in range(0, df_trump['Text']
                     .count()):
    text = df_trump['Text'][element]
    extr_good = re.findall(r'(good)', text)
    extr_bad = re.findall(r'(bad)', text)
    for el in extr_good:
        count_good +=1
    for el in extr_bad:
        count_bad +=1

print("Trump: Counts of 'good'", count_good,
      "\nCounts of 'bad'", count_bad,
      "\nProportion of bad to good", 
      count_bad/count_good)

Trump: Counts of 'good' 94
Counts of 'bad' 63
Proportion of bad to good 0.6702127659574468

In [21]:
count_good = 0
count_bad = 0

for element in range(0, df_trud['Text']
                     .count()):
    text = df_trud['Text'][element]
    extr_good = re.findall(r'(good)', text)
    extr_bad = re.findall(r'(bad)', text)
    for el in extr_good:
        count_good +=1
    for el in extr_bad:
        count_bad +=1

print("Trudeau: Counts of 'good'", count_good,
      "\nCounts of 'bad'", count_bad,
      "\nProportion of bad to good", 
      count_bad/count_good)

Trudeau: Counts of 'good' 46
Counts of 'bad' 7
Proportion of bad to good 0.15217391304347827

Trump uses a word “good” by 67% more often than a word “bad”, while Trudeau uses "good" 15% more often.

**How many times a week does Trump use his surname?**

1. A new column was created that indicates the week number of a tweet
2. A regex was used to create another column with a Boolean variables that show if a surname
was used in this tweet or not
3. And finally, data was grouped by a week number to count number of times a surname was
used per week

In [22]:
#extract a week number
for i, row in df_trump.iterrows():
    df_trump.set_value(i,'weekn', df_trump['date_conv'][i].week)

#create a boolean variable that shows surname usage
for i, row in df_trump.iterrows():
    text = df_trump['Text'][i]
    lst = re.findall(r'(Trump)', text)
    if len(lst)>0:
        df_trump.set_value(i,'last_name', "True")
    else:
        df_trump.set_value(i,'last_name', "False")
        
#mean tweets with last name per weeek
df_trump_4 = df_trump.groupby(['weekn', 'last_name']).count()
df_trump_4 = df_trump_4.reset_index()
df_trump_4 = df_trump_4.loc[df_trump_4['last_name'] == 'True']
print("Average number of times per week when Trump uses his surname in Twitter: ",df_trump_4["created_at"].mean())

Average number of times per week when Trump uses his surname in Twitter:  4.172413793103448

**Peak times they tweet?**

This time an hour of the tweet was extracted and used for grouping to count number of tweets per
hour

**Trump**

In [23]:
#extract time
for i, row in df_trump.iterrows():
    value = df_trump['created_at'][i][11:13]
    df_trump.set_value(i,'timev', value)

#the most popular time of day
df_trump_6=df_trump.groupby('timev').count()
df_trump_6.sort_values(by=['created_at'], ascending=False)[:10]

       Text  created_at  date  date_conv  dayofweek  weekn  last_name
timev
13      177         177   177        177        177    177        177
11      166         166   166        166        166    166        166
12      159         159   159        159        159    159        159
20      104         104   104        104        104    104        104
14       99          99    99         99         99     99         99
10       88          88    88         88         88     88         88
22       75          75    75         75         75     75         75
19       67          67    67         67         67     67         67
17       65          65    65         65         65     65         65
00       60          60    60         60         60     60         60

**Trudeau**

In [24]:
#extract time
for i, row in df_trud.iterrows():
    value = df_trud['created_at'][i][11:13]
    df_trud.set_value(i,'timev', value)

#the most popular time of day
df_trud_6=df_trud.groupby('timev').count()
df_trud_6.sort_values(by=['created_at'], ascending=False)[:10]

       Text  created_at  date  date_conv  dayofweek
timev
22      145         145   145        145        145
18      132         132   132        132        132
14      118         118   118        118        118
21      112         112   112        112        112
20      111         111   111        111        111
15      104         104   104        104        104
19      101         101   101        101        101
00      100         100   100        100        100
17       95          95    95         95         95
23       89          89    89         89         89

Trump prefers to tweet from 10AM till 2PM, in the afternoon, while Trudeau prefers to leave tweets
from 8PM to 10PM, in the evening.

**Number of times they use their countries name in their tweets?**

A Boolean variable was created to indicate if
country name was used or not. After that the total number of usages and non-usages were found by
grouping:

**Trump**

In [25]:
#create a boolean variable that shows country name usage
for i, row in df_trump.iterrows():
    text = df_trump['Text'][i]
    lst = re.findall(r'(US|USA|United States)', text)
    if len(lst)>0:
        df_trump.set_value(i,'country', "True")
    else:
        df_trump.set_value(i,'country', "False")
        
#counting
df_trump_4 = df_trump.groupby(['country']).count()
#df_trump_4 = df_trump_4.reset_index()
print("%.2f" % (df_trump_4['Text']['True']/df_trump_4['Text']['False']), "% of times name of contry is used")

0.10 % of times name of contry is used

**Trudeau**

In [26]:
#create a boolean variable that shows country name usage
for i, row in df_trud.iterrows():
    text = df_trud['Text'][i]
    lst = re.findall(r'(Canada)', text)
    if len(lst)>0:
        df_trud.set_value(i,'country', "True")
    else:
        df_trud.set_value(i,'country', "False")
        
#counting
df_trud_4 = df_trud.groupby(['country']).count()
#df_trud_4 = df_trud.reset_index()

print("%.2f" % (df_trud_4['Text']['True']/df_trud_4['Text']['False']), "% of times name of contry is used")

0.43 % of times name of contry is used

Trudeau tends to use the name of Canada much more often than Trump uses the name of US. More
than 40% of tweets of Trudeau contain name of his country, while only every 10th tweet of Trump has a
name of US in some form.

**What is the average number of words per tweet?**

To calculate average number of words in a tweet, first of all, a total number of words of every tweet
was put in list and then the mean of numbers of this list was found

**Trudeau**

In [27]:
#average number of words in a tweet
lst=[]

for i, row in df_trump.iterrows():
    lst.append(len(df_trump['Text'][i].split(' ')))
    
import numpy as np
print("Trudeau.\nAverage number of words: ","%.2f" % np.mean(lst))

Trudeau.
Average number of words:  33.82

**Trump**

In [28]:
#average number of words in a tweet
lst=[]

for i, row in df_trump.iterrows():
    lst.append(len(df_trud['Text'][i].split(' ')))
    
import numpy as np
print("Trump.\nAverage number of words: ","%.2f" % np.mean(lst))

Trump.
Average number of words:  31.06

Trump tends to use on average 3 words less than Trudeau.

**What are the most popular words used by Trump and Trudeau?**

In [31]:
import re
#the words that appear he most in positive reviews
import nltk
porter = nltk.PorterStemmer()
list_pos=[]
for i in range(len(df_trump)):
    list_pos.append(df_trump["Text"].iloc[i])
lst_words_pos = []
for line in list_pos:
    text_pos = re.split('\n| |\?|\!|\:|\"|\(|\)|\...|\;',line)
    for word in text_pos:
        if (len(word)>3 and not word.startswith('@') and not word.startswith('#') and word != 'RT'):
            lst_words_pos.append(porter.stem(word.lower()))


dist_pos = FreqDist(lst_words_pos) 
sorted_dist_pos = sorted(dist_pos.items(), key=operator.itemgetter(1), reverse=True)
sorted_dist_pos[:50]

[('that', 434),
 ('with', 425),
 ('will', 382),
 ('great', 380),
 ('http', 365),
 ('have', 341),
 ('they', 267),
 ('&amp', 210),
 ('thi', 191),
 ('peopl', 189),
 ('countri', 181),
 ('veri', 172),
 ('democrat', 162),
 ('from', 148),
 ('their', 144),
 ('more', 143),
 ('want', 142),
 ('mani', 140),
 ('news', 130),
 ('just', 127),
 ('border', 123),
 ('been', 123),
 ('trade', 120),
 ('state', 119),
 ('about', 116),
 ('presid', 115),
 ('there', 114),
 ('fake', 113),
 ('make', 112),
 ('work', 107),
 ('must', 106),
 ('would', 105),
 ('time', 104),
 ('than', 102),
 ('year', 102),
 ('american', 100),
 ('good', 100),
 ('much', 99),
 ('thank', 97),
 ('trump', 91),
 ('back', 91),
 ('come', 88),
 ('what', 86),
 ('need', 84),
 ('should', 84),
 ('into', 83),
 ('america', 83),
 ('meet', 81),
 ('be', 81),
 ('never', 79)]

Some of the most frequent words of Trump: _people, country, democracy, fake, border, news, america_

In [33]:
import re
#the words that appear he most in positive reviews
import nltk
porter = nltk.PorterStemmer()
list_pos=[]
for i in range(len(df_trud)):
    list_pos.append(df_trud["Text"].iloc[i])
lst_words_pos = []
for line in list_pos:
    text_pos = re.split('\n| |\?|\!|\:|\"|\(|\)|\...|\;',line)
    for word in text_pos:
        if (len(word)>3 and not word.startswith('@') and not word.startswith('#') and word != 'RT'):
            lst_words_pos.append(porter.stem(word.lower()))


dist_pos = FreqDist(lst_words_pos) 
sorted_dist_pos = sorted(dist_pos.items(), key=operator.itemgetter(1), reverse=True)
sorted_dist_pos[:50]

[('http', 821),
 ('ttp', 594),
 ('pour', 502),
 ('nou', 382),
 ('canada', 341),
 ('&amp', 328),
 ('with', 221),
 ('work', 177),
 ('dan', 166),
 ('plu', 164),
 ('avec', 159),
 ('thi', 150),
 ('notr', 123),
 ('more', 121),
 ('vou', 120),
 ('canadian', 119),
 ('today', 111),
 ('leur', 108),
 ('canadien', 101),
 ('peopl', 101),
 ('tou', 101),
 ('travail', 96),
 ('thank', 93),
 ('will', 86),
 ('their', 85),
 ('we’r', 84),
 ('make', 81),
 ('tout', 81),
 ('about', 80),
 ('creat', 79),
 ('job', 79),
 ('cett', 79),
 ('great', 77),
 ('avon', 76),
 ('have', 74),
 ('from', 74),
 ('meet', 74),
 ('help', 72),
 ('congratul', 71),
 ('pay', 71),
 ('erci', 67),
 ('your', 67),
 ('togeth', 66),
 ('that', 64),
 ('félicit', 63),
 ('votr', 63),
 ('countri', 62),
 ('discuss', 62),
 ('protect', 59),
 ('aujourd’hui', 58)]

Some of the most frequent words of Trudeau: _Canada, people, today, thank, congats, protect_